*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header{
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #B22222;
    text-align:center
}

header h1{
    color: #F5F5F5;
    font-family:'Times New Roman', Times, serif;
    font-size: 5rem;
}

header h3{
    color: #d1cdcd;
    font-family:'Times New Roman', Times, serif;
    font-size: 2rem;
  
  }

.img{  
    border:#F5F5F5 10px double;
    margin-top: 30px;
    height: 500px;
    width: 500px;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
   
}

#portfolio{
    color: #F5F5F5;
    font-family:'Times New Roman', Times, serif;
}
#meu-nome{
    color: #d1cdcd;
}



.sobre-mim {
    text-align:center;
    max-width: 800px;
    margin-left: 450px;
    margin-top: 50px;
    font-size: 20px;
  }

  .hard-skills{
    text-align:center
  }
  .skills{
    padding-top: 20px;
    padding-left: 0;
    max-width: 700px;
    width: 180px;
    height: 130%;
    margin: 0 auto; 
  }
  .skills:hover{
    text-decoration: none;
    font-weight: bold;
    transition: all 0.03 ease;
    border-color: rgb(0, 0, 0);
    background-color: #caa5a5;
    border-radius: 30px;

    color: #b40303;
  }

  .projetos{
    text-align:center
  }
  .centralizacao-lista{
    padding-left: 0;
    max-width: 700px;
    width: 400px;
    height: 130%;
    margin: 0 auto; 
  }


  footer{
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #B22222;
    display: flex;
    justify-content: space-around;
  }

  .direitos-autorais{
    text-align:end
  }

.cor{
    color: #FF0000;
}
  #link-com-hover:hover{
    text-decoration: none;
    font-weight: bold;
    transition: all 0.03 ease;
    border-color: rgb(0, 0, 0);
    color: #d60505;
  }

  #pod-cast{
    color: #FF8C00;
  }
  .cast-cor:hover{
    text-decoration: none;
    font-weight: bold;
    transition: all 0.03 ease;
    border-color: rgb(0, 0, 0);
    color: #ffa600;
  }

  .alterar-cor{
    color:rgb(229, 151, 151) ;
  }
  .alterar-cor:hover{
    text-decoration: none;
    font-weight: bold;
    transition: all 0.03 ease;
    border-color: rgb(0, 0, 0);
    color:#e0b4b4
  }

  button{
    width: 300px;
    height: 45px;
    background-color: #690801;
    border-radius: 10px;
    color: #F5F5F5;
    font-size: 1.2rem;
  }